{
  auto_https off
  log {
    output stdout
    level DEBUG
  }
}

:80, :443 {
  tls internal {
    on_demand
  }

  @static {
    path /static/*
  }

  handle @static {
    # Do not append ../static to the path
    root * /var/www
    file_server browse
  }

  reverse_proxy web-door-access:8000
  encode gzip
}